<!DOCTYPE html>

<html lang = "en">
    <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> 
		<title>Resume Application</title>
		<meta charset="utf-8">
        <link href ="ResumeApplication.css" rel ="stylesheet">
        <script src= "resumeapplication.js"></script>
    </head>
    <body>
                <strong><h1>Resume Application</h1></strong>
                
                <form ng-app= "myApp" ng-controller= "formCtrl">

                    <br>*Upload Resume: <input type= "file" name= "myResume" id="resume"required><br>

                    <br>*Enter First Name: <input type= "text" ng-model="user.firstName"required><br>

                    <br>*Enter Last Name: <input type= "text" ng-model= "user.lastName"required><br>

                    <br>*Enter Email: <input type= "email" ng-model= "user.Email"required><br>

                    <br>*Position:<input type= "text" ng-model= "user.Position"required><br>

                    <br><button ng-click="submit(user)">SUBMIT</button>

                </form>
    </body>
</html>